* { -webkit-hyphens: none; }
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear:both;}
.clear:before, .clear:after {content: " ";display: table;}
.clear:after {clear: both;}
.clear {*zoom: 1;}
body,
html {
    position: relative;
}
body {
    background: #FFF;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    color:$color-dark-gray;
}
.site {
    position: relative;
    overflow: hidden;
    z-index: 10;
    @media screen and (min-width: $tabwidth) {
         min-height: 800px;
    }
}
.site-content-wrap {
    position: relative;
}
.site-inner {
    position: relative;
    z-index: 15;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
    padding: 0px;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: border-box;
    margin: 0 auto;
    @media screen and (min-width: $tabwidth) {
        max-width: 1000px;
    }
    @media screen and (min-width: $deskwidth) {
        max-width: 1000px;
    }
}

.content-area {
	width: 100%;
	margin: 0px auto;
	@media screen and (min-width: $tabwidth) {
		width: 68%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 28%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo {
	display: block;
    float: left;
    width: 100%;
    @include transition(all ease-out .3s);
    * {
        @include transition(all ease-out .3s);
    }
	@media screen and (min-width: $tabwidth) {
		width: 300px;
	}
    a {
        display: block;
        width: 165px;
        float: left;
        text-decoration: none;
        @media screen and (min-width: $tabwidth) {
            width: 300px;
        }
        img {
            width: 100%;
            height: auto;
            float: left;
        }
    }
}
.siteLogo {
    font-size: 50px;
    font-weight: 700;
    color:#000;
    text-transform: uppercase;
    &:hover {
        color:#000;
    }
}
.site-footer {
	width: 100%;
	clear: both;
    position: relative;
    z-index: 15;
    background: #212121;
    color:#FFF;
    padding-top: 40px;
    padding-bottom: 40px;
    @media screen and (min-width: $tabwidth) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

#masthead {
    position: relative;
    z-index: 100;
    margin-top: 0;
    @media screen and (min-width: $tabwidth) {
        .container {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        .logo {
            width: 30%;
        }
        .main-navigation {
            width: 70%;
        }
    }
   
}
.home #masthead {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
    @media screen and (min-width: $tabwidth) {
        margin-top: 70px;
    }
}
.subpage #masthead {
    background-color: $color-dark-blue;
    .container {
        padding-top:20px;
        padding-bottom: 20px;
        @media screen and (min-width: $tabwidth) {
            padding-top:20px;
            padding-bottom: 20px;
        }
    }
}

.btn-style1 {
    overflow: hidden;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -1px;
        width: 100%;
        height: 100%;
        background: #383938;
        padding: 1em 2em;
        transition: transform 0.2s;
        transform: translate3d(-100%, 0, 0);
    }
    &:hover {
        &:before {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
    span {
        position: relative;
        z-index: 10;
    }
}
.btn,input[type="submit"],button.btn,.theme-btn,
.btn-style2 {
    display: inline-block;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-appearance:none;
    outline:none;
    box-shadow: none;
    cursor: pointer;
    @include transition(all ease-out .3s);
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FFF;
        z-index: -1;
        opacity: 0;
        transform: scale3d(0.6, 1, 1);
        transition: transform 0.2s, opacity 0.2s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
    &:hover {
        color:$color-dark-blue;
        &:before {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            z-index: 2;
        }
    }
    span {
        position: relative;
        z-index: 10;
    }
}

.btn,input[type="submit"],button.btn,.theme-btn {
    background: $color-green;
    padding: 13px 25px 10px;
    color: #FFF;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 500;
}


.flexbox {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.trbg {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.triangle-bg1 {
    background-image: linear-gradient(to left top, #f2f1f1 0%, #f2f1f1 50%, transparent 50%);
    height: 80%;
    right: 0;
    z-index: 3;
    width: 125%;
}
.triangle-bg2 {
    overflow: hidden;
    height: 68%;
    z-index: 2;
    .slope {
        width: 120%;
        height: 200%;
        position: relative;
        background: #f5f5f5;
        transform:rotate(3deg);
        left: -30%;
        top: 90px;
        @media screen and (min-width: $tabwidth) {
            width: 120%;
            left: -35%;
        }
    }
}
.triangle-bg3 {
    z-index: 1;
    height: 80%;
    overflow: hidden;
    .slope {
        width: 200%;
        height: 200%;
        position: relative;
        background: -moz-linear-gradient(top, rgba(246,246,246,0.65) 0%, rgba(255,255,255,0.33) 50%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(top, rgba(246,246,246,0.65) 0%,rgba(255,255,255,0.33) 50%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom, rgba(246,246,246,0.65) 0%,rgba(255,255,255,0.33) 50%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6f6f6f6', endColorstr='#00ffffff',GradientType=0 );
        transform:rotate(8deg);
        left:-140%;
        top: 100px;
        @media screen and (min-width: $tabwidth) {
            left: -50%;
            width: 180%;
        }
    }
}
.text-center {
    text-align: center;
}
.fullwidth {
    max-width: 100%;
    width: 100%;
}
.error404 #primary {
    min-height: 30em;
}